* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.rounded div,
div.rounded1 div {
  margin: 10px;

}

div.rounded button,
div.rounded1 button {
  position: relative;
  margin: 10px;
}